#chessboard {
    width: 500px;
    height: auto;
}

.chess-square {
    float: left;
    width: 23px;
    border: 1px solid black;
    height: 23px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}